* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

:root {
    --primary-color: #4CAF4F;
    --gray-color: #4D4D4D;
    --black: #18191F;
    --silver: #F5F7FA;
    --pera-color: #717171;
    --fotter-color: #263238;
}

body {
    font-family: "Inter", serif;
}

.navbar {
    width: 1440px;
    margin: 0 auto;
    background-color: var(--silver);
}

.nav-item a {
    padding: 30px 0;
}

.btn {
    padding: 10px 20px;
}

.log-in {
    border: 1px solid black;
}

.btn-extra {
    background-color: var(--primary-color);
}

.hero-section {
    background-color: var(--silver);
}

.hero-btn {
    padding: 14px 32px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

.hero-section .container h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
}

.hero-section .container h1 span {
    color: var(--primary-color);
}

.hero-section {
    width: 1440px;
    height: 599px;
    margin: 0 auto;
    gap: 104px;
}


.left-side h1 {
    font-size: 64px;
}

.left-side span {
    color: var(--primary-color);
}

.reg-btn {
    width: 128px;
    height: 52px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

.clients {
    width: 1440px;
    margin: 40px auto;
}

.clients h2 {
    font-size: 36px;
}

.clients-logos {
    width: 1152px;
    height: 98px;
    margin: 0 auto;
}

.Community {
    width: 1440px;
    height: 416px;
    margin: 40px auto 0;
}

.org-assoc {
    width: 299px;
    height: 260px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 16px;
    box-shadow: 0px 2px 4px 0px #ABBED133;
}

.org-assoc h3 {
    margin: 16px 0 8px;
}

.Unlock {
    width: 1440px;
    height: 433px;
    margin: 46px auto;
    padding: 0 144px;
}

.frame-right h2 {
    font-size: 36px;
}

.frame-right p {
    width: 601px;
    padding: 16px 0 32px;
}

.Achievements {
    width: 1440px;
    height: 288px;
    margin: 0 auto;
    padding: 144px 0;
    gap: 72px;
    background-color: var(--silver);
}

.section-heading {
    width: 540px;
    height: 120px;
}

.section-heading h2 {
    font-size: 36px;
}

.section-heading span {
    font-size: 36px;
    color: var(--primary-color);
}

.counts {
    width: 540px;
    height: 160px;
}

.box {
    width: 255px;
    height: 60px;
    gap: 16px;
}

.bottom {
    margin-top: 40px;
}

.Calender {
    width: 1440px;
    height: 433px;
    margin: 48px auto;
    gap: 50px;
}

.mobile-login {
    margin-left: 144px;
}

.frame-8 {
    width: 661px;
    height: 308px;
    margin-right: 144px;
    margin-top: 63px;
    padding-right: 60px;
}

.frame-8 h2 {
    font-size: 36px;
}

.Customers {
    width: 1440px;
    height: 390px;
    background-color: var(--silver);
    margin: 0 auto;
    padding: 32px 144px;
    gap: 78px;
}

.frame-10 {
    margin-top: 32px;
}

.frame-10 a {
    text-decoration: none;
    color: var(--primary-color);
}

.Comunity-updates {
    width: 1440px;
    height: 506px;
    margin: 48px auto 95px;
}

.Frame-15 {
    width: 100%;
    height: 366px;
    padding: 0 144px;
}

.F-15 {
    width: 368px;
    height: 368px;
    position: relative;
}

.content {
    width: 317px;
    height: 176px;
    background-color: var(--silver);
    position: absolute;
    bottom: 0;
    right: 25.5px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #ABBED166;
}

.content a {
    text-decoration: none;
    color: #4CAF4F;
    display: grid;
    place-items: center;
    padding-top: 24px;
}

.Frame-16 {
    width: 1440px;
    height: 300px;
    background-color: var(--silver);
    margin: 0 auto;
    padding: 32px 276px;
}

.Frame-16 h1 {
    font-size: 64px;
}

.Frame-16 button {
    display: block;
    margin: 32px auto 0;
    padding: 14px 32px;
    background-color: var(--primary-color);
    border: none;
}

.Frame-16 button a {
    text-decoration: none;
    color: white;
}

footer {
    width: 1440px;
    height: 328px;
    margin: 0 auto;
    background-color: var(--fotter-color);
}